<div class="container">

  <mat-card class="header">
      <h5 class="header-color">Here are some things about Jupiter you never knew. Enjoy!</h5>
  </mat-card>
  <mat-accordion class="accord-container" *ngFor="let curiosity of curiosities;">
 
    <mat-expansion-panel (opened)="curiosity.isOpen = true"
                         (closed)="curiosity.isOpen = false"
                         >
      <mat-expansion-panel-header>
        <mat-panel-title>
         <h6>{{curiosity.id}}</h6>
        </mat-panel-title>
        <mat-panel-description>
         {{curiosity.isOpen ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ curiosity.name }}</p> 
      <img src={{curiosity.img}} />
      <p class="description">{{ curiosity.description }}</p>
     
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card class="footer">
     <p>This is a little info guide about Jupiter made by <a routerLink="/about">Me</a></p>
  </mat-card>

  
</div>
