.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.img-background {
  background: black;
    border-radius: 10px;
    width: 450px;
    height: 350px;
    display: flex;
    align-items: center;
    margin-top:20px;
}

/* .btn-content{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .safari-fix{
 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
} */

.earth {
    width: 200px;
    height:200px;
    margin:0 auto;
    /* position: fixed;
    margin-top:200px; */
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    overflow: hidden;
    /* box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000; */
    
  }
  
  /* .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  
  } */
  
  .earth > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    /* background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQ1MTkzNDhf?inline=1); */
    background: url('../../../assets/images/jupiter.jpg');
    /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
    background-size: cover;
   
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  } 

  .landing-btn{
    margin-bottom: 40px;
  }
